// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//bootstrap icons
@import 'bootstrap-icons/font/bootstrap-icons.css';


.btn-group > form > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:last-child) > form > .btn
{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group > form > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child) > form > .btn 
{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > form > .btn:not(:first-child), .btn-group > .btn-group:not(:first-child)
{
    margin-left: -1px;
}

body {
    padding-top: 4.5rem;
}

.btn-toggle {
    display: block;
    width: 100%;
    text-align: left;
  }
  .btn-toggle:hover,
  .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
  }
  
  .btn-toggle::after {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
    float: right;
  }
  
  .btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
  }
  .btn-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
  }