html,
body
{
    height: 100%;
}

body
{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form
{
    width: 100%;
    max-width: 450px;
    margin: auto;
}