@media only screen and (max-width: 800px) {
    /* Force table to not be like tables anymore */
    #mobile-tables table,
    #mobile-tables thead,
    #mobile-tables tbody,
    #mobile-tables th,
    #mobile-tables td,
    #mobile-tables tr {
    display: block;
    }
     
    /* Hide table headers (but not display: none;, for accessibility) */
    #mobile-tables thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
    }
     
    // #mobile-tables tr { border: 1px solid #ccc; }
      
    #mobile-tables td {
    /* Behave like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: normal;
    text-align:left;
    }
     
    #mobile-tables td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align:left;
    font-weight: bold;
    }
     
    /*
    Label the data
    */
    #mobile-tables td:before { content: attr(data-title); }
    }